{% extends "partials/layout.njk" %}
{% block content %}
    <h1>Hello Vite!!</h1>
        <button class="button is-primary">Click me</button>
        <div class="notification is-primary mt-2">
            <button class="delete"></button>
            Primar lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum
            dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta
            nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus
            diam, et dictum <a>felis venenatis</a> efficitur.
        </div>
        <ul>
            {% for i in range (0, 10)%}
            {% if 1%2 %}
            <li> {{ i }} </li>
             {% else %}
            <li class="has-text-primary"> {{ i }} </li>
            <li>Item {{ i }}</li>
            {% endif %}
            {% endfor %}
        </ul>
{% endblock %}
       
 